<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous"/>


    <title>Total Todo</title>
</head>

<body style="padding-top:100px;">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Total Todo</a>
        </div>
    </div>
</div>

<form id="todoForm">
    <input type="text" id="textInput" />
    <input type="date" id="startInput" />
    <input type="date" id="endInput" />
    <input type="submit" value="Lagre"  onclick="send()"/>
</form>
<!--
<table>
    <tr th:each="var : ${#vars}">
        <td th:text="${var.key}"></td>
        <td th:text="${var.value}"></td>
    </tr>
</table>
-->
<table id="todos">
    <thead>
    <tr>
        <th>Text</th>
        <th>Start</th>
        <th>End</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item,i : *{todoList}">
        <td th:text="${item.text}">Item_name</td>
        <td th:text="${item.start}">Item_name</td>
        <td th:text="${item.end}">Item_name</td>
        <td><a th:href="@{/todo/(id=${i.index})}">Item</a></td>
    </tr>
    </tbody>
</table>
<p><a href="#" onclick="refreshList()">Refresh list</a> </p>

<!-- Load jQuery before Bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script>
    /*<![CDATA[*/
    function send(){
        // AJAX KODE HER
        var text = document.getElementById("textInput").value;
        var start = document.getElementById("startInput").value;
        var end = document.getElementById("endInput").value;
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function(){
            if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                console.log();
            }
        }
        xmlHttp.open("POST", "/save", true);
        xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlHttp.send("text=" + text + "&start=" + start + "&end=" + end);
    }
    function refreshList(){
        var data = $.getJSON("/index/json", function(data) {

            var tr;
            $.each(data, function(i, val) {

                console.log(i.name);
                tr = $('<tr/>');
                tr.append('<td>' + data.name + '</td>');
                tr.append('<td>' + data.start + '</td>');
                tr.append('<td>' + data.end + '</td>');
            });


        });

    }
    /*]]>*/
</script>
</body>

</html>
