<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Total Todo</title>
</head>
<body>

<h1>Total Todo</h1>

<form action="/save" method="post">
    <input type="text" name="text" />
    <input type="date" name="start" />
    <input type="date" name="end" />
    <input type="submit" onclick="send()"/>
</form>

<ul id="todos" th:each="p : ${todoList}">
    <li th:text="${p.text}"/>
</ul>
<p><a href="#" onclick="refreshList()">Refresh list</a> </p>
</body>
<script>
    /*<![CDATA[*/
    function send(){
        // AJAX KODE HER
        var text = document.getElementsByTagName("input")[0].value;
        var start = document.getElementsByTagName("input")[1].value;
        var end = document.getElementsByTagName("input")[2].value;
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function(){
            if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                console.log();
            }
        }
        xmlHttp.open("POST", "/save", true);
        xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlHttp.send("text="+text+"&start="+start+"&end="+end);
    }
    function refreshList(){
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function(){
            if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                console.log(xmlHttp.responseText);
                json = JSON.parse(xmlHttp.responseText);
                json.forEach(function(entry){
                    console.log(entry);
                    var ul = document.getElementById("todos");
                    var li = document.createElement("li");
                    li.innerHTML = todos.text+" - "+todos.start+" - "+todos.end;
                    ul.appendChild(li);
                });
            }
        }
        xmlHttp.open("GET", "/list/json", true);
        xmlHttp.send();
    }
    /*]]>*/
</script>
</html>