<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous"/>
    <title>Todo Item</title>
</head>

<body style="padding-top:100px;">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Total Todo</a>
        </div>
    </div>
</div>

<div class="container">

    <h1 th:text="${todo.text}">Text</h1>
    <form id="editTodo" action="/">
    <table class="table table-hover" id="todos">
        <thead>
        <tr>
            <th>Text</th>
            <th>Start</th>
            <th>End</th>
            <th>Done?</th>
            <th></th>
        </tr>
        <tr>
            <td><input type="text" id="textInput" th:value="${todo.text}"/></td>
            <td><input type="date" id="startInp" th:value="${todo.start}"/></td>
            <td><input type="date" id="endInp" th:value="${todo.end}"/></td>
            <td>
                <input type="checkbox" th:checked="${todo.done} ? true : false" id="isDone" />
            </td>
            <td>
                <input type="submit" value="Oppdater" th:onclick="@{ update({id}) (id=${param.id}) }"/>
                <input type="submit" value="Slett" th:onclick="@{ del({id}) (id=${param.id}) }"/>
            </td>
            <td></td>
        </tr>
        </thead>
    </table>



    </form>
</div>
<!-- Load jQuery before Bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="todo_scripts.js"></script>


</body>
</html>