<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

    <title>Todo Item</title>
</head>
<body>

<h1 th:text="${todo.text}">Text</h1>

<form id="editTodo" action="/">
    <input type="text" id="textInput" th:value="${todo.text}" />
    <input type="date" id="startInput" th:value="${todo.start}" />
    <input type="date" id="endInput" th:value="${todo.end}" />
    <input type="submit" value="Oppdater" th:onclick="@{ update({id}) (id=${param.id}) }"/>
    <input type="submit" value="Slett" th:onclick="@{/delete/{id}(id=${param.id})}"/>
</form>



<script>
    /*<![CDATA[*/

    function del(x) {
        var url = "/delete/" + x;
        var xmlHttp = new XMLHttpRequest();

        xmlHttp.onreadystatechange = function(){
            if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                console.log();
            }
        }
        xmlHttp.open("DELETE", url, true);
        xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        console.log("URL: " + url);
    }
    function update(x){

        var url = "/update/?id=" + x;
        var text = document.getElementById("textInput").value;
        var start = document.getElementById("startInput").value;
        var end = document.getElementById("endInput").value;
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function(){
            if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                console.log();
            }
        }
        xmlHttp.open("POST", url, true);
        xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlHttp.send("text=" + text + "&start=" + start + "&end=" + end);
        console.log("URL: " + url);
    }
    /*]]>*/
</script>

</body>
</html>